/*universal */
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* body */
body {
    padding: 0;
    margin: 0;
    padding: 0px 80px;
    color: #4f4f4f;
}

/* header */
header {
    overflow: auto;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-between;
}

nav img {
    width: 50px;
}

nav div {
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #4f4f4f;
}

nav a:hover {
    font-weight: bold;
}

/* jumbotron */
.jumbotron {
    width: 100%;
    background-color: #113947;
    display: flex;
    float: left;
    gap: 50px;
    justify-content: center;
    color: white;
    padding: 100px 100px;
    border-radius: 5px;
    align-items: center;
}

#pp {
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

.jt-name {
    text-align: center;
    padding: 20px;
    align-content: center;
}

.jt-name h1 {
    font-size: 50px;
    padding: 5px 0px;
    margin: 0px;
    font-weight: 300;
}

.jt-name p {
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px;
}

.flex-contact {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 15px;
    justify-content: center;
    height: 50px;
}

.flex-contact img:hover {
    width: 28px;
}

.jt-name img {
    width: 25px;
}

/* end header */

/* main */
.card {
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

/* grid-section1 */
.grid-section1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.tb-bio th {
    text-align: left;
}

.about-me {
    grid-column: 1 / span 2;
}

.title-content {
    font-weight: 500;
    font-size: 30px;
    border-bottom: solid 2px #113947;
}

.education, .work {
    border-left: 2px solid #e6e9ed;
    padding-left: 20px;
}