/*universal */
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* body */
body {
    padding: 0;
    margin: 0;
    padding: 0px 80px;
    color: #4f4f4f;
}

/* header */
header {
    overflow: auto;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-between;
}

nav img {
    width: 50px;
}

nav div {
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #4f4f4f;
}

nav a:hover {
    font-weight: bold;
}

/* jumbotron */
.jumbotron {
    width: 100%;
    background-color: #113947;
    display: flex;
    float: left;
    gap: 50px;
    justify-content: center;
    color: white;
    padding: 100px 100px;
    border-radius: 5px;
    align-items: center;
}

#pp {
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

.jt-name {
    text-align: center;
    padding: 20px;
    align-content: center;
}

.jt-name h1 {
    font-size: 50px;
    padding: 5px 0px;
    margin: 0px;
    font-weight: 300;
}

.jt-name p {
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px;
}

.flex-contact {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 15px;
    justify-content: center;
    height: 50px;
}

.flex-contact img:hover {
    width: 28px;
}

.jt-name img {
    width: 25px;
}

/* end header */

/* main */
.card {
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

/* grid-section1 */
.grid-section1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.tb-bio th {
    text-align: left;
}

.about-me {
    grid-column: 1 / span 2;
}

.title-content {
    font-weight: 500;
    font-size: 30px;
    border-bottom: solid 2px #113947;
}

.education, .work {
    border-left: 2px solid #e6e9ed;
    padding-left: 20px;
}

/* professional skill */
.skills {
    display: flex;
    gap: 20px;
}

.skill {
    width: 100%;
}

.bar {
    background-color: #bbbbbb;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.skill p {
    font-size: 10px;
    background-color: #113947;
    border-radius: 5px;
    padding: 5px;
}

#html,
#dart {
    width: 75%;
}

#css {
    width: 70%;
}

#js {
    width: 60%;
}

#ap {
    width: 73%;
}

#xd {
    width: 70%;
}

#cdr {
    width: 76%;
}

#figma {
    width: 69%;
}

/* end professional skill */

/* portfolio */
.portfolio {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article {
    padding: 0px;
    margin: 0px;
}

article h3,
p,
img {
    padding: 0px;
    margin: 0px;
}

article img {
    width: 200px;
}

.card-portfolio {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.card-portfolio p {
    text-align: justify;
}

span {
    color: #848484;
    font-size: 16px;
}

/* contact me*/
form {
    display: grid;
    gap: 10px;
    padding: 0px 100px;
}

.grid-item {
    text-align: center;
    font-size: 15px;
}

.name {
    grid-column: 1;
    grid-row: 1;
}

.email {
    grid-column: 2;
    grid-row: 1;
}

.messege {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.submit {
    grid-column: 1 / span 2;
    grid-row: 4;
}

input {
    width: 100%;
}

.messege textarea {
    height: 100px;
    width: 100%;
    text-align: start;
    resize: none;
    padding: 5px 10px;
}

#submit {
    background: #39c0ed;
    border: 0px;
    width: 20%;
    color: white;
    border-radius: 5px;
}

#email,
#name,
#submit {
    padding: 5px 10px;
}
/* contact me */
/* end main */

footer {
    text-align: center;
    padding: 20px;
}

/* ============================Responsive================ */

@media only screen and (max-width: 1024px) {
    .portfolio {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 890px) {
    body {
        padding: 0px 20px;
    }

    .jumbotron {
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .jumbotron div img {
        justify-content: center;
    }

    .grid-section1 {
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
    }

    .bio {
        grid-column: 1 / span 2;
    }

    nav img {
        display: none;
    }

    nav {
        justify-content: center;
        text-align: center;
    }

    /* portfolio */
    .portfolio {
        display: grid;
        grid-template-columns: auto auto;
    }

    .name {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .email {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .messege {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .submit {
        grid-column: 1 / span 2;
        grid-row: 4;
    }
}

@media only screen and (max-width: 600px) {
    .pp {
        width: 100%;
    }

    nav div {
        display: flex;
        gap: 10px;
    }

    nav div a {
        font-size: 12px;
    }

    .jumbotron {
        padding: 50px 50px;
    }

    .jt-name {
        padding: 0px;
    }

    /* portfolio */
    .portfolio {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    .skills {
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
    }

    form {
        padding: 0px 10px;
    }
}